*.code-workspace
.vscode/*

*.jar
*.test.*

/server/minecraft/mods/*

/server/minecraft/config/*
# !/server/minecraft/config/worldedit
# /server/minecraft/config/worldedit/sessions
!/server/minecraft/config/gravestone.cfg
!/server/minecraft/config/journeymap_server.cfg
!/server/minecraft/config/ftblib.cfg
!/server/minecraft/config/cfm.cfg
!/server/minecraft/config/sasit.cfg
