*.code-workspace
.vscode/*

*.bak
*.jar
*.test.*

/server/minecraft/mods/*

/server/minecraft/config/*
# !/server/minecraft/config/worldedit
# /server/minecraft/config/worldedit/sessions
!/server/minecraft/config/gravestone.cfg
!/server/minecraft/config/journeymap_server.cfg
!/server/minecraft/config/ftblib.cfg
!/server/minecraft/config/ftbutilities.cfg
!/server/minecraft/config/cfm.cfg
!/server/minecraft/config/sasit.cfg

!/server/minecraft/config/cofh/
/server/minecraft/config/cofh/core/client.cfg
/server/minecraft/config/cofh/core/friends.cfg
!/server/minecraft/config/cofh/core/common.cfg
/server/minecraft/config/cofh/thermalcultivation
server/minecraft/config/cofh/thermaldynamics
server/minecraft/config/cofh/thermalexpansion
server/minecraft/config/cofh/thermalfoundation
server/minecraft/config/cofh/thermalinnovation
server/minecraft/config/cofh/world

server/minecraft/local/ftbutilities/players.txt